<!DOCTYPE html>
<html lang="en">
<head>
<title><%= title %></title>
<% include templates/csslinks.ejs %>
<script src="https://kit.fontawesome.com/10c514f3f0.js" crossorigin="anonymous"></script>
<script>
function toggleNavLinks() {
  var x = document.getElementById("nav-links");
  if (x.className.indexOf("w3-show") === -1) { 
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
<script type="text/javascript" src="/js/skills.js"></script>
</head>
<body>
  <!--<img src="/images/intro_background.jpg" alt="background" style="width:100%"> -->
  <div id="nav-bar" class="w3-top w3-2021-inkwell">
    <div class="w3-bar">
      <div class="w3-dropdown-click w3-right">
        <button id="menu-button" onclick="toggleNavLinks()" class="w3-button">
          <i class="material-icons">menu</i>
        </button>
        <div id="nav-links" class="w3-dropdown-content w3-center w3-card" style="right:0">
          <a href="#profile" onclick="toggleNavLinks()" class="w3-bar-item w3-button w3-mobile">Profile</a>
          <a href="#experiences" onclick="toggleNavLinks()" class="w3-bar-item w3-button w3-mobile">Experiences</a>
          <a href="#skills" onclick="toggleNavLinks()" class="w3-bar-item w3-button w3-mobile">Skills</a>
          <a href="#projects" onclick="toggleNavLinks()" class="w3-bar-item w3-button w3-mobile">Projects</a>
          <a href="#contact" onclick="toggleNavLinks()" class="w3-bar-item w3-button w3-mobile">Contact</a>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-image">
    <div class="w3-containter w3-center anchor hero-text">
      <h1>Matthew R. Abrahamsen</h1>
      <hr id="hero-hr">
      <p id="hero-caption">Interactive Resume</p>
    </div>
  </div>

  <section id="profile" class="background-1">
    <div class="section-header";>
      <h2 class="w3-center">Profile</h2>
      <p class="w3-center lead">I am a web developer focusing on thoughtful design and secure functionality.</p>
      <hr>     
    </div>
    <div class="profile-container">
      <div class="profile-about w3-container">
        <h3>About me</h3>
        <p>
          I am a developer who focuses on making technology work for small businesses. I provide low-cost and maintainable solutions that make managing a company much easier. At the moment I build web apps, integrate POS systems, and troubleshoot network and security issues. My dream is to become an information security specialist and share my expertise with others to grow, improve, and safeguard their businesses. 
        </p>
      </div>

      <div class="profile-pic-box w3-container w3-center">
        <img id="profile-pic" src="/images/me.jpg" alt="Matthew R. Abrahamsen" class="circle">
      </div>

      <div class="profile-details w3-container">
        <h3>Details</h3>
        <p>
          <strong>Name:</strong><br>
          Matthew R. Abrahamsen
          <br>
          <strong>Age:</strong><br>
          26 years
          <br>
          <strong>Location:</strong><br>
          Washington, DC<br>
          <strong>Github:</strong><br>
            <a href="https://github.com/mrmushh" target="_blank" rel="noopener noreferrer">
              <span class="fab fa-github"></span>mrmushh
            </a>
        </p>
      </div>

    </div>
  </section>

  <section id="experiences" class="background-2 w3-center">
      <div class="section-header">
       <h2>Experiences</h2>
        <p class="lead quote">
        "Finis origine pendet"
        <br>
        <em>"The end depends on the beginning"</em>
        <br>
        - Phillips Academy Andover Motto
        <hr>
        </p>       
      </div>

      <div class="w3-container experiences-container">

      <div class="experiences-education">
      <h3>Education</h3> 
      <h4>Claremont McKenna College</h4>
      <p>
        January 2014 - May 2019 <br>
        <strong>Bachelor of Arts - International Relations</strong> <br>
        <strong>Minors - Russian, Computer Science</strong> <br>
        Claremont, CA
      </p>
      <h4>California State University</h4>
      <p>
        January 2018 - June 2018 <br>
        <strong>Extended Education Program - Computer Science </strong> <br>
        Fullerton, CA
      </p>
      <h4>Kazan Federal University</h4>
      <p>
        September 2013 - May 2014 <br>
        <strong>US State Department Fellowship NSLI-Y - Russian</strong><br>
        Kazan, Russia
      </p>
      <h4>Phillips Academy Andover</h4>
      <p>
        September 2010 - June 2013<br>
        <strong>Private Boarding School</strong><br>
        Andover, MA
      </p>
      <hr>
      </div>
 
      <div class="experiences-career">
      <h3>Career</h3> 
      <h4>Technology Consultant, Web App Developer</h4>
      <p>
        January 2020 - Present<br>
        <a href="https://www.laosintown.com/" target="_blank" rel="noopener noreferrer">Laos in Town - Restaurant</a><br>
        Washington, DC
      </p>
      <h4>Point of Sale (POS) Consultant</h4>
      <p>
        November 2019 - December 2019 <br>
        <a href="https://romanticdepot.com/bronx/" target="_blank" rel="noopener noreferrer">Romantic Depot - Retail</a><br>
        Bronx, NY
      </p>
      <h4>Teaching Assistant (TA), Resident Assistant (RA)</h4>
      <p>
        June 2019 - July 2019 <br>
        <a href="https://www.ucis.pitt.edu/creees/outreach/startalk" target="_blank" rel="noopener noreferrer">University of Pittsburgh - STARTALK Russian Language Program</a><br>
        Pittsburgh, PA
      </p>
      <h4>Information Technology Assistant</h4>
      <p>
        June 2017 - August 2017 <br>
        <a href="https://www.cmc.edu/information-technology" target="_blank" rel="noopener noreferrer">Claremont McKenna College - Information Technology Services</a><br>
        Claremont, CA
      </p>
      <h4>Language Partner</h4>
      <p>
        September 2016 - May 2019 <br>
        <a href="https://www.pomona.edu/administration/oldenborg-center" target="_blank" rel="noopener noreferrer">Oldenborg - Pomona College Foreign Language Resource Center</a><br>
        Claremont, CA
      </p>
      </div>
    </div>
  </section>

  <section id="skills" class="background-1 w3-center">
    <div class="section-header">
      <h2>Skills</h2>  
    </div>
    <div class="w3-container skills-container">   
        <div id="softwareSkills">
          <h3>Software Development</h3>
          <hr>
        </div>
        <div id="ITSkills">
          <h3>Information Technology</h3>
          <hr>
        </div>
        <div id="languageSkills">
          <h3>Language</h3>
          <hr>
        </div>
    </div>
    <br>
  </section>

  <section id="projects" class="background-2 w3-center">
    <div class="section-header">
      <h2>Projects</h2>
      <p>Links to blog coming soon!</p>
    </div>
    <div class="project-figures">
      <a href="#">
        <figure>
        <img src="images/laos_flow.png" alt="Delivery Services and Printer Integration">
        <figcaption>How I Used Webhooks for Custom Automatic Recipt Printing from Wix Orders, Grubhub, and Square eCommerce</figcaption>
      </figure>
      </a>
      <a href="#">
      <figure>
        <img src="images/cloudMigration.jpg" alt="Romantic Depot">
        <figcaption>Migrating a 30-year-old MS-DOS Retail Software to a Modern POS System</figcaption>
      </figure>
      </a>
      <a href="#">
      <figure>
        <img id="laos-tip-image" src="images/laos_tips.png" alt="Laos Tips">
        <figcaption>Making an Automated Tipout Calculator for Laos in Town Restaurant</figcaption>
      </figure> 
      </a>
    </div>
  </section>
  <section id="contact" class="background-1 w3-center contact-card">
  <div class="w3-container">
    <h2>Contact</h2>
    <hr>
    <ul id="contact-links" class="w3-center no-bullets">
      <li>
        <a href = "mailto: matthewrabrahamsen@gmail.com">
          <span class="fas fa-at">
          </span>
        matthewrabrahamsen@gmail.com
      </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/matthew-abrahamsen-ba96a2192/">
          <span class="fab fa-linkedin">
          </span>
         www.linkedin.com/in/matthew-r-abrahamsen
        </a>
      </li>
    </ul>
    <hr>
  </div>
  </section>
</body>

</html>
