<!DOCTYPE html>
<html>
<title><%= title %></title>
<% include templates/csslinks.ejs %>
<body class='w3-sand'>
<% include templates/navbar.ejs %>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center" id="home">
    <h1 class="w3-xxlarge">Matthew</h1>
    <p>Hit 'em with that one line pitch!</p>
    <img src="images/placeholder.jpg" alt="boy" class="w3-sepia-min w3-circle w3-image">
    <div class="w3-left-align"> 
      <p class="w3-small">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
    convallis massa vel dolor auctor placerat. Fusce tincidunt, nulla ut
    feugiat pharetra, lectus dolor tristique arcu, sit amet accumsan orci
    lectus vitae mauris. Etiam aliquet sagittis sem aliquam laoreet. Praesent
    igula odio, auctor eget lectus ac, tincidunt molestie risus. Curabitur
    rhoncus eros ut rutrum efficitur. Mauris aliquet sed justo nec vulputate.
    Vivamus velit nulla, volutpat quis ligula vitae, semper vulputate felis.
    In hac habitasse platea dictumst. Nullam maximus arcu quis libero
    commodo, eget fringilla turpis cursus. Nulla sodales venenatis interdum.
    Nulla metus felis, vestibulum in ante vel, maximus dignissim ante.
    Curabitur suscipit ullamcorper semper.
      </p>
    </div>
  </header>
</div>
</body>
</html>
