<!DOCTYPE html>
<html>
<title><%= title %></title>
<% include templates/csslinks.ejs %>
<body class='w3-sand'>
<% include templates/navbar.ejs %>

<!-- Page Content -->
<header class="w3-container w3-padding-32 w3-center" id="home">
  <p>You made it to the language page
    HELLO i am fluent in alll of the languages known to man hellooooo.

  </p>
</header>

</body>
</html>
