html
{
  scroll-behavior: smooth;
}
ul.no-bullets
{
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
.anchor
{
  padding-top: 62px;
}
#menu-button
{
  margin: 4px;
  padding: 4px 6px 0px 6px;
}
